
:root {
    --colorDominantDark100: #090c9b;    
    --colorDominantDark200: #090c9b;    
    --colorDominantDark300: #0b0ec1;    
    --colorDominantLight100: #b2b3fb;    
    --colorDominantLight200: #c5c6fc;    
    --colorDominantLight300: #d8d9fd;    
    --colorLessDominantDark100: #a37800;    
    --colorLessDominantDark200: #b88700;    
    --colorLessDominantDark300: #cc9600;    
    --colorLessDominantLight100: #ffe499;    
    --colorLessDominantLight200: #ffe9ad;    
    --colorLessDominantLight300: #ffefc2;    
    --colorLesserDominantDark100: #184e39;    
    --colorLesserDominantDark200: #1d5d45;    
    --colorLesserDominantDark300: #226d50;    
    --colorLesserDominantLight100: #74d3ae;    
    --colorLesserDominantLight200: #83d8b7;    
    --colorLesserDominantLight300: #92ddc0;    
    --colorNeutralDark100: #333333;    
    --colorNeutralDark200: #3d3d3d;    
    --colorNeutralDark300: #474747;    
    --colorNeutralLight100: #e0e0e0;    
    --colorNeutralLight200: #ebebeb;    
    --colorNeutralLight300: #f5f5f5;    
}