.typographyDisplayLargeRegular 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 57px;
  line-height: 64px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyDisplayLargeMedium 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 57px;
  line-height: 64px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyDisplayLargeSemibold 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 57px;
  line-height: 64px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyDisplayLargeBold 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 57px;
  line-height: 64px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyDisplayMediumRegular 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 52px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyDisplayMediumMedium 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 52px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyDisplayMediumSemibold 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 52px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyDisplayMediumBold 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 52px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyDisplaySmallRegular 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyDisplaySmallMedium 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyDisplaySmallSemibold 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyDisplaySmallBold 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyHeadlineLargeRegular 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyHeadlineLargeMedium 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyHeadlineLargeSemibold 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyHeadlineLargeBold 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyHeadlineMediumRegular 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyHeadlineMediumMedium 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyHeadlineMediumSemibold 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyHeadlineMediumBold 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyHeadlineSmallRegular 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyHeadlineSmallMedium 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyHeadlineSmallSemibold 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyHeadlineSmallBold 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyTitleLargeRegular 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyTitleLargeMedium 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyTitleLargeSemibold 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyTitleLargeBold 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyTitleMediumRegular 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing:  
  0.01em;
  text-indent: 0px;
  
}    

.typographyTitleMediumMedium 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing:  
  0.01em;
  text-indent: 0px;
  
}    

.typographyTitleMediumSemibold 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing:  
  0.01em;
  text-indent: 0px;
  
}    

.typographyTitleMediumBold 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing:  
  0.01em;
  text-indent: 0px;
  
}    

.typographyTitleSmallRegular 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing:  
  0.01em;
  text-indent: 0px;
  
}    

.typographyTitleSmallMedium 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing:  
  0.01em;
  text-indent: 0px;
  
}    

.typographyTitleSmallSemibold 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing:  
  0.01em;
  text-indent: 0px;
  
}    

.typographyTitleSmallBold 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing:  
  0.01em;
  text-indent: 0px;
  
}    

.typographyLabelLargeRegular 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing:  
  0.01em;
  text-indent: 0px;
  
}    

.typographyLabelLargeMedium 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing:  
  0.01em;
  text-indent: 0px;
  
}    

.typographyLabelLargeSemibold 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing:  
  0.01em;
  text-indent: 0px;
  
}    

.typographyLabelLargeBold 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing:  
  0.01em;
  text-indent: 0px;
  
}    

.typographyLabelMediumRegular 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing:  
  0.04em;
  text-indent: 0px;
  
}    

.typographyLabelMediumMedium 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing:  
  0.04em;
  text-indent: 0px;
  
}    

.typographyLabelMediumSemibold 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing:  
  0.04em;
  text-indent: 0px;
  
}    

.typographyLabelMediumBold 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing:  
  0.04em;
  text-indent: 0px;
  
}    

.typographyLabelSmallRegular 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  letter-spacing:  
  0.05em;
  text-indent: 0px;
  
}    

.typographyLabelSmallMedium 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  letter-spacing:  
  0.05em;
  text-indent: 0px;
  
}    

.typographyLabelSmallSemibold 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 16px;
  letter-spacing:  
  0.05em;
  text-indent: 0px;
  
}    

.typographyLabelSmallBold 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 16px;
  letter-spacing:  
  0.05em;
  text-indent: 0px;
  
}    

.typographyBodyLargeRegular 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing:  
  0.03em;
  text-indent: 0px;
  
}    

.typographyBodyLargeMedium 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing:  
  0.03em;
  text-indent: 0px;
  
}    

.typographyBodyLargeSemibold 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing:  
  0.03em;
  text-indent: 0px;
  
}    

.typographyBodyLargeBold 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing:  
  0.03em;
  text-indent: 0px;
  
}    

.typographyBodyMediumRegular 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing:  
  0.02em;
  text-indent: 0px;
  
}    

.typographyBodyMediumMedium 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing:  
  0.02em;
  text-indent: 0px;
  
}    

.typographyBodyMediumSemibold 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing:  
  0.02em;
  text-indent: 0px;
  
}    

.typographyBodyMediumBold 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing:  
  0.02em;
  text-indent: 0px;
  
}    

.typographyBodySmallRegular 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing:  
  0.03em;
  text-indent: 0px;
  
}    

.typographyBodySmallMedium 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing:  
  0.03em;
  text-indent: 0px;
  
}    

.typographyBodySmallSemibold 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing:  
  0.03em;
  text-indent: 0px;
  
}    

.typographyBodySmallBold 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing:  
  0.03em;
  text-indent: 0px;
  
}    

